.collection-page {
  width: 100%;
  margin: 0 auto;
  .previous {
    font-size: 2em;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    .item-collection {
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .collection-page {
    .list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 768px) {
  .collection-page {
    .list {
      grid-template-columns: 1fr;
    }
  }
}
