.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.6em;
  padding: 20px 0;
  height: 54px;
  border-bottom: 1px solid grey;
  margin-top: 30px;

  .right-side {
    display: flex;
  }

  .links {
    display: flex;
    align-items: center;
    a {
      padding: 0 15px;
    }
  }

  .log-out {
    display: inline-block;

    .wrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      font-size: 17px;
      left: 15px;
      img {
        top: 0px;

        width: 48px;
        cursor: pointer;
        position: relative;
        border-radius: 50%;
      }
      .log-button {
        position: absolute;
        top: 45px;
        font-family: inherit;
        button {
          border: 1px solid black;
          outline: none;
          background-color: #fff;
          cursor: pointer;
          padding: 4px;
          animation: fade_in_show 0.5s;

          &:hover {
            background-color: #000;
            color: #fff;
          }
        }

        @keyframes fade_in_show {
          0% {
            opacity: 0;
            transform: scale(0);
          }
          100% {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}
