.cart-item {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 10px;

  .cart-item-img {
    border: 1px solid grey;
    width: 40%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .cart-item-details {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    p {
      font-size: 0.7em;
      margin: 0px;
    }
  }
  .remove {
    display: flex;
    font-size: 0.6em;
    align-items: center;
    margin-left: 10px;
    span {
      cursor: pointer;
    }
  }
}
